[submodule "third_party/config/nlohmann_json"]
	path = third_party/config/nlohmann_json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "third_party/plugins/opencv"]
	path = third_party/plugins/opencv
	url = https://github.com/opencv/opencv.git
	shallow = true
[submodule "third_party/plugins/encryption_tool"]
	path = third_party/plugins/encryption_tool
	url = https://github.com/sinterwong/encryption-tool.git
	shallow = true
[submodule "third_party/testing/googletest"]
	path = third_party/testing/googletest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "third_party/benchmarking/google_benchmark"]
	path = third_party/benchmarking/google_benchmark
	url = https://github.com/google/benchmark.git
	shallow = true
